{% extends 'base.html' %}

{% block title %}
    Edit Expense
{% endblock title %}


{% block content %}

    <div class="row mt-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
                </ol>
            </nav>
        </div>
    </div>

    {% include 'partials/_messages.html' %}

    
    <div class="card">
        <form method="POST">
            <div class="card-header">
                <h5>Edit Expense</h5>
            </div>

            <div class="card-body">

                {% csrf_token %}

                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" name="amount" class="form-control" value="{{ expense.amount }}" />
                </div>

                <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="description" class="form-control">{{ expense.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" class="form-control">
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == expense.category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Date</label>
                    <input type="date" name="date" class="form-control" value="{{ expense.date|date:'Y-m-d' }}" />
                    <input type="hidden" name="expense_id" value="{{ expense.id }}" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Update Expense" class="form-control btn-primary" />
                </div>

            </div>
        </form>
    </div>





{% endblock content %}
