<!doctype html>
<html>
    <head>
        <title>Expenses PDF Output</title>

        <style>
            @page{
                size: "A4";
                margin: 2.5cm 1.5cm 3.5cm 1.5cm;

                @top-center{
                    content: "VIJAY THAPA APPs";
                }
            }
        </style>
    </head>

    <body>

        <img src="https://2.bp.blogspot.com/-mkVne3V2tzY/Xfo99c80KUI/AAAAAAAAD_c/9EbC4qu-fYAeVjLi3ONzRZ-osIW4H3qBACK4BGAYYCw/s1600/Vijay%2BThapa%2BLogo%2BHD.png" />

    </body>
</html>